<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.aniu.flutter.aniu_base">
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <application
        android:requestLegacyExternalStorage="true"
        />
</manifest>
